h1{
  text-align: center;
  font-size:2em;
  padding: 1em;
}

h2{
  text-align: center;
  font-size: 1.5em;
  padding: 0.25em;
}

p{
  text-align:center;
  font-size: 1.25em;
  padding: 0.5em;
}

.playerOptions {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.playerOptions li{
  display: inline-block;
  padding: 20px;

}

button{
  font-size: 1em;
  padding: 1em 2em ;
}

/*

Currently abandoned attempt at custom dialog box

#dialogOverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
}

#dialogBox{
  display: none;
  position: fixed;
  background: #000;
  border-radius:7px;
  width: 550px;
  z-index: 10;
}

#dialogBox div{
  background: #FFF;
  Margin: 8px;
}

#dialogBoxHead{
  background: #666;
  font-size:19px;
  padding:10px;
}

#dialogBoxBody{
  background:#333;
  padding:20px;
  color:#FFF;
}

#dialogBoxFoot{
  background: #666;
  padding:10px;
  text-align:right;
} */
